<!DOCTYPE html>
<html>

<head>
  <title>BookShelf</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">本棚</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="material-icons left">chevron_right </i>
          ログアウト
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to new_user_session_path do %>
          <i class="material-icons left">chevron_right </i>
          ログイン
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
          <i class="material-icons left">chevron_right </i>
          新規登録
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>

</html>